<div class="authform">
  <h3><%= t 'edit' %></h3>
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <div class="form-group">
      <%= f.input :email, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.input :nickname, :autofocus => true, class: 'form-control' %>
    </div>
    <fieldset>
      <p><%= t 'change_password_message' %></p>
      <div class="form-group">
        <%= f.input :password, :autocomplete => 'off', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.input :password_confirmation, class: 'form-control' %>
      </div>
    </fieldset>
    <fieldset>
      <p><%= t 'current_password_message' %></p>
      <div class="form-group">
        <%= f.input :current_password, class: 'form-control' %>
      </div>
    </fieldset>
    <%= f.submit t('update'), :class => 'button right' %>
  <% end %>
</div>
<div class="authform">
  <h3><%= t 'cancel' %></h3>
<p><%= t 'unhappy' %></p>
<%= button_to t('cancel_my_account'), registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button right' %>
</div>
