<div class="authform">
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <h3><%= t 'sign_up' %></h3>
    <div class="form-group">
      <%= f.input :name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.input :nickname, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.input :email, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.input :password, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.input :password_confirmation, class: 'form-control' %>
    </div>
     <%= f.submit t('sign_up'), :class => 'button right' %>
  <% end %>
</div>
