﻿<div class="row">
  <h3> <%= t 'notifications' %> </h3>
  <% if @notifications.empty? %>
    <hr/>
    <h5> <%= t 'without_notifications' %> </h5>
  <% end %>
  <div class="large-9 columns" role="content">
    <% @notifications.each do |notification| %>
      <hr/>
      <div class="row">
        <div class="large-9 columns">
          <%= notification.created_at %> -
          <%= t(notification.model + '_message',
                user_name: link_to(notification.sender.name,
                                   user_path(notification.sender))
               ).html_safe %>
          <br/>
        </div>
      </div>
     <% end %>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function () {
  $.ajax({
    url: '/notifications/read_all',
    type: "PUT",
  });
});
</script>
