<div class="row">
  <div class="large-9 columns" role="content">
    <% @users.each do |user| %>
      <article>
        <h3><%= link_to user.name, user_path(user) %></h3>
          <div class="row">
            <div class="large-2 columns">
              <%= image_tag gravatar_url(user) %>
            </div>
            <div class="large-10 columns">
              <%= t 'nickname' %>: <%= user.nickname %><br/>
              <%= t 'posts' %>: <%= user.posts_count %><br/>
            </div>
         </div>
       </article>
       <hr/>
     <% end %>
  </div>
</div>
