<div class="row">
  <div class="large-9 push-3 columns">
    <% @user.posts.each do |post|   %>
      <h3><%= link_to post.title, post_path(post) %></h3>
      <p>
        <%= truncate(post.sanitized_text, length: 500) {
          link_to(post.omit_text_with, post_path(post))
        } %>
      </p>
    <% end %>
  </div>
  <div class="large-3 pull-9 columns">
    <h1><%= image_tag gravatar_url(@user, 200) %></h1>
    <% if user_signed_in? %>
        <%= @user.follow_or_unfollow_link(current_user) %>
    <% end %>
    <h5> <%= t 'name' %>: <%= @user.name %> </h5>
    <h5> <%= t 'nickname' %>: <%= @user.nickname %> </h5>
    <h5> <%= t 'posts' %>: <%= @user.posts_count %> </h5>
    <div>
      <h5><b><%= t 'following' %></b></h5>
      <br/>
      <%= t 'nobody' if @user.following.empty? %>
      <% @user.following.each do |user| %>
        <%= link_to image_tag(gravatar_url(user, 40), class: 'user-icon'), user_path(user) %>
      <% end %>
    </div>
    <br/>
    <div>
      <h5><b><%= t 'followers' %></b></h5>
      <br/>
      <%= t 'nobody' if @user.followers.empty? %>
      <% @user.followers.each do |user| %>
        <%= link_to image_tag(gravatar_url(user, 40), class: 'user-icon'), user_path(user) %>
      <% end %>
    </div>
  </div>
</div>
