﻿<div class="row">
  <h3><%= t 'users' %></h3>
  <div class="large-9 columns" role="content">
    <% @search.users.each do |user| %>
      <article>
        <h3><%= link_to user.name, user_path(user) %></h3>
          <div class="row">
            <div class="large-2 columns">
              <%= image_tag gravatar_url(user) %>
            </div>
            <div class="large-10 columns">
              <%= t 'nickname' %>: <%= user.nickname %><br/>
              <%= t 'posts' %>: <%= user.posts_count %><br/>
            </div>
         </div>
       </article>
       <hr/>
     <% end %>
  </div>
</div>

<div class="row">
  <h3><%= t 'posts' %></h3>
  <div class="large-9 columns" role="content">
    <% @search.posts.each do |post| %>
      <article>
        <h3><%= link_to post.title, post_path(post) %></h3>
        <h6><%= t 'written_by' %>
          <a href="#">
            <%= link_to post.user_name, user_path(post.user) %>
          </a> <%= t('when') %>
          <%= post.formatted_date %>.
        </h6>
          <div class="row">
            <div class="large-2 columns">
              <%= image_tag gravatar_url(post.user) %>
            </div>
            <div class="large-10 columns">
              <%= truncate(post.sanitized_text, length: 500) {
                link_to(post.omit_text_with, post_path(post))
              } %>
            </div>
         </div>
       </article>
       <hr/>
     <% end %>
  </div>
</div>
