<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <h3><%= t 'sign_in' %></h3>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= link_to t('sign_up'), new_registration_path(resource_name), class: 'right'  %>
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <%= f.submit t('sign_in'), :class => 'button right' %>
      <% if devise_mapping.rememberable? -%>
        <div class="checkbox" style="width:150px">
          <label>
            <%= f.check_box :remember_me %> <%= t 'remember_me' %>
          </label>
        </div>
      <% end -%>
  <% end %>
</div>
