<%= simple_form_for(@post) do |f| %>
  <div class="field">
    <%= f.input :title %>
  </div>
  <div class="field">
    <%= f.input :text, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'mini'} } %>
  </div>
  <div class="actions">
    <%= f.submit t('save'), :class => 'button right' %>
  </div>
<% end %>
