<div class="row">
  <div class="large-9 columns" role="content">
    <article>
      <h3><%= @post.title %></h3>
        <div class="row">
          <div class="large-12 columns">
            <%= @post.text.html_safe %>
          </div>
       </div>
     </article>
     <hr/>
     <div class="text-center">
        <%= image_tag gravatar_url(@post.user) %>
        <h6><%= t 'written_by' %>
          <a href="#">
            <%= link_to @post.user.name, user_path(@post.user) %>
          </a> <%= t 'when' %>
          <%= @post.formatted_date %>.
        </h6>
        <% if can? :manage, @post.post %>
          <%= button_to t('edit'), edit_post_path(@post), method: :get, class: 'button left' %>
          <%= button_to t('delete'), post_path(@post), method: :delete, class: 'button right' %>
        <% end %>
      </div>
  </div>
</div>
