<%# navigation styled for Zurb Foundation 5 %>
<nav class="top-bar" data-topbar>
  <div class="top-bar-section">
    <ul class="left">
      <li class="name"><%= link_to t('users'), users_path %></li>
      <li class="name"><%= link_to t('posts'), posts_path %></li>
      <li class="has-form">
        <div class="row collapse">
          <form action="/home" method="get">
            <div class="large-8 small-9 columns">
              <input type="text" name="text" placeholder="<%= t 'search' %>">
            </div>
            <div class="large-4 small-3 columns">
              <input type="submit" href="#" class="alert button expand" value="<%= t 'search' %>"></input>
            </div>
          </form>
        </div>
      </li>
    </ul>
  </div>
  <div class="top-bar-section">
    <ul class="right">
      <%= render 'layouts/navigation_links' %>
    </ul>
  </div>
</nav>
