<li><%= link_to t('home'), root_path%></li>
<% if user_signed_in? %>
  <li>
    <%= link_to t('notifications'), notifications_path %>
    <% if current_user.unread_notifications? %>
      <small class="notification"></small>
    <% end %>
  </li>
  <li><%= link_to t('edit_account'), edit_user_registration_path %></li>
  <li><%= link_to t('sign_out'), destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to t('sign_in'), new_user_session_path %></li>
  <li><%= link_to t('sign_up'), new_user_registration_path %></li>
<% end %>
